#include "../../Pods/Target Support Files/Pods-SoraPassportAll-SoraPassport/Pods-SoraPassportAll-SoraPassport.staging.xcconfig"

OTHER_SWIFT_FLAGS = $(inherited) "-DF_STAGING"

SORA_APPLICATION_CONFIG = Staging
FIREBASE_CONFIG = GoogleService-Info-Staging.plist
SORA_NAME = Sora Staging
SORA_GOOGLE_URL_SCHEME = -----BEGIN PGP MESSAGE-----

jA0ECQMIXucBrQ3UnA7o0n0B3wz/k874OXEnOv+7q8RsI/EgvNCuJwi7QVOjjZFC
9WiTgyTRXFiFMDDurafhDy7wCaJqf+/ueIA5QoBF9d+CxazbRimrtqiqL/Z5/1ZS
nuSxSpjtj65hN0YxGEurJqnQXqLN81wTByNkYCoIM+6xnhQA2ykZ55t+CdHxSA==
=nRx4
-----END PGP MESSAGE-----

SORA_GOOGLE_TOKEN = -----BEGIN PGP MESSAGE-----

jA0ECQMIoSdC8t9NGUTo0n0BAW5YFxAeVYIxlQVfGBrcRmb3IfHxSbCVVE6hSAv8
phdJZJw99d2i3EI2Birr6CLbqslGLUEWc4CAdr5WPzbsSLmSkulHAjciSeeJaupP
IVTgiDfZU8auqEHi93ys+MvUTjQovH20R1kbtzbQCn32DSwjx0LpyFYxhRTXLA==
=p+H+
-----END PGP MESSAGE-----
