#include "../../Pods/Target Support Files/Pods-SoraPassportAll-SoraPassport/Pods-SoraPassportAll-SoraPassport.release.xcconfig"

OTHER_SWIFT_FLAGS = $(inherited) "-DF_RELEASE"

SORA_APPLICATION_CONFIG = Release
FIREBASE_CONFIG = GoogleService-Info-Release.plist
SORA_NAME = SORA
SORA_GOOGLE_TOKEN = 
SORA_GOOGLE_URL_SCHEME = 
