#include "../../Pods/Target Support Files/Pods-SoraPassportAll-SoraPassport/Pods-SoraPassportAll-SoraPassport.dev.xcconfig"

OTHER_SWIFT_FLAGS = $(inherited) "-DF_DEV"

SORA_APPLICATION_CONFIG = Dev
FIREBASE_CONFIG = GoogleService-Info-Dev.plist
SORA_NAME = Sora Dev

SORA_GOOGLE_URL_SCHEME = $(SoraCardCIKeys.soraGoogleUrlScheme)
SORA_GOOGLE_TOKEN = $(SoraCardCIKeys.soraGoogleToken)
