#include "../../Pods/Target Support Files/Pods-SoraPassportAll-SoraPassport/Pods-SoraPassportAll-SoraPassport.test.xcconfig"

OTHER_SWIFT_FLAGS = $(inherited) "-DF_TEST"

SORA_APPLICATION_CONFIG = Test
FIREBASE_CONFIG = GoogleService-Info-Test.plist
SORA_NAME = Soralution

SORA_GOOGLE_URL_SCHEME = {{ argument.soraGoogleUrlScheme }}
SORA_GOOGLE_TOKEN = {{ argument.soraGoogleToken }}
