OTHER_SWIFT_FLAGS = $(inherited) "-DF_TEST"
MARKETING_VERSION = 3.8.7

SORA_APPLICATION_CONFIG = Test
SORA_MINAMOTO_NETWORK_ID =
FIREBASE_CONFIG = GoogleService-Info-Test.plist
SORA_NAME = Soralution
SORA_GOOGLE_TOKEN = 
SORA_GOOGLE_URL_SCHEME = 
SORA_GOOGLE_TOKEN_DEBUG = 
SORA_GOOGLE_URL_SCHEME_DEBUG = 
SORA_IOS_GOOGLE_TOKEN_PROD = 
SORA_IOS_GOOGLE_URL_SCHEME_PROD = 
