OTHER_SWIFT_FLAGS = $(inherited) "-DF_RELEASE"
MARKETING_VERSION = 3.8.7

SORA_APPLICATION_CONFIG = Release
FIREBASE_CONFIG = GoogleService-Info-Release.plist
SORA_NAME = SORA
SORA_GOOGLE_TOKEN = 976903753703-oeb9j2ggk5uautvdegbabdm9qms5e22t.apps.googleusercontent.com
SORA_GOOGLE_URL_SCHEME = com.googleusercontent.apps.976903753703-oeb9j2ggk5uautvdegbabdm9qms5e22t
SORA_GOOGLE_TOKEN_DEBUG = 
SORA_GOOGLE_URL_SCHEME_DEBUG = 
SORA_IOS_GOOGLE_TOKEN_PROD = $(SORA_GOOGLE_TOKEN)
SORA_IOS_GOOGLE_URL_SCHEME_PROD = $(SORA_GOOGLE_URL_SCHEME)
