#include "../../Pods/Target Support Files/Pods-SoraPassportAll-SoraPassport/Pods-SoraPassportAll-SoraPassport.staging.xcconfig"

OTHER_SWIFT_FLAGS = $(inherited) "-DF_STAGING"

SORA_APPLICATION_CONFIG = Staging
FIREBASE_CONFIG = GoogleService-Info-Staging.plist
SORA_NAME = Sora Staging
SORA_GOOGLE_TOKEN = 
SORA_GOOGLE_URL_SCHEME = 
SORA_GOOGLE_TOKEN_DEBUG = 
SORA_GOOGLE_URL_SCHEME_DEBUG = 
